@using Lab4.Models;
@model Lab4.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["CurrentUser"] == null)
                {
                    @Html.ActionLink("Лабораторна Соціальна Мережа", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                   @Html.ActionLink(((User)Session["CurrentUser"]).Nickname, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <br />
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашня сторінка", "Index", "Home")</li>

                    @if (Session["CurrentUser"] != null)
                    {
                        <li>@Html.ActionLink("Запросити", "InviteUser", "Home");</li>
                        <li>@Html.ActionLink("Запитати запрошення", "InviteMeUser", "Home");</li>
                        <li>@Html.ActionLink("Мої запрошення", "AcceptUser", "Home");</li>
                        <li>@Html.ActionLink("Мої друзі", "FriendsUser", "Home");</li>
                        <li>@Html.ActionLink("Мої діалоги", "SelectDialogUser", "Home");</li>
                        <li>@Html.ActionLink("Надіслати повідомлення", "SendMessageUser", "Home");</li>
                        <li>@Html.ActionLink("Вийти", "LogoutUser", "Home");</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Реєстрація", "RegisterUser", "Home");</li>
                        <li>@Html.ActionLink("Увійти", "LoginUser", "Home");</li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div></div>
    <div class="container body-content">
        <div class="jumbotron">
            <!--
            <h1>ASP.NET</h1>
            <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
            <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
            -->
            <p>Контент</p>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <div id="Footer1">
                <br />
                <p>&copy; @DateTime.Now.Year - мій застосунок ASP.NET</p>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
